# Core functionality - changes here should be rare!
/src/app.py                   @Fa7901
/src/backend/database.py      @Fa7901
/src/backend/routers/auth.py  @Fa7901

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Fa7901
